### Chính chủ thực hành Online Retail theo HDSD

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns # Thư viện vẽ biểu đồ xịn hơn cả matplotlib =))
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler\
# sklearn - thư viện dành cho việc học máy, học sâu
# preprocessing (scaler) là sublib của sklearn dùng cho Preprocessing trong việc "Scale dữ liệu"
# Tìm hiểu thêm tại: https://ndquy.github.io/posts/cac-phuong-phap-scaling/
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, OrdinalEncoder
# sublib với các hàm thực hiện mã hóa
# Tại sao cần cái Encode này? Tìm hiểu thêm về Nominal và Ordinal variables
# Ứng dụng trong Học sâu
# https://tiensu.github.io/blog/93_data_prepeation_for_ml_data_transforms_2/
# LabelEncoder sử dụng cho biến Target

In [5]:
df = pd.read_csv("../Data/OnlineRetail.csv", encoding="ISO-8859-1")

In [7]:
df.shape

(541909, 8)

In [12]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/01/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/01/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/01/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/01/2010 8:26,3.39,17850.0,United Kingdom

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [16]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [18]:
df = df[df.Quantity >= 0]

In [19]:
df1 = df.dropna()

In [21]:
df1.shape

(397924, 8)

In [22]:
df2 = df.dropna(how='all') # Xóa những dòng toàn khuyết

In [23]:
df2.shape

(531285, 8)

In [24]:
df3 = df.dropna(thresh=7) # Giữ những dòng có ít nhất 7 giá trị ko khuyết

In [25]:
df3.shape

(530693, 8)

In [26]:
df4 = df.dropna(subset=['CustomerID']) # Xóa những dòng bị khuyết tại cột nhất định

In [27]:
df4.shape

(397924, 8)

In [28]:
df5 = df.loc[:]

In [29]:
df5.CustomerID = df.CustomerID.fillna(-1) # Thay thế những giá trị khuyết trên cột CID = -1

In [30]:
df5[df5.CustomerID == -1] # Display observation which has CID = -1

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,536414,22139,NaN,56,12/01/2010 11:52,0.00,-1.0,United Kingdom
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/01/2010 14:32,2.51,-1.0,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/01/2010 14:32,2.51,-1.0,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/01/2010 14:32,0.85,-1.0,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/01/2010 14:32,1.66,-1.0,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/09/2011 10:26,4.13,-1.0,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/09/2011 10:26,4.13,-1.0,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/09/2011 10:26,4.96,-1.0,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/09/2011 10:26,10.79,-1.0,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/09/2011 10:26,1714.17,-1.0,United Kingdom